<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Ala</title>
  {% extends "master.html" %}
  
  {% block title %}
    Hospital Higeia - Adicionar Ala
  {% endblock %}
</head>
<body>
  {% block content %}

  <p><a class="btn btn-secondary mb-3" href="/wings/add_wing">Adicionar Ala</a></p>

  <h1>Lista de Alas</h1>
  <div class="list-group-item d-flex justify-content-between align-items-center">
    <h3 class="text-decoration-none">Ala:</h3>
    <h3 class="text-decoration-none">Codigo:</h3>
    <h3 class="text-decoration-none">Numero de leitos:</h3>
    <h3 class="text-decoration-none">Ações:</h3>
  </div>
<ul class="list-group mb-3">
    {% for x in wings %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'update' x.code %}" class="text-decoration-none">{{ x.name }}</a>
        <p class="text-decoration-none">{{ x.code }}</p>
        <p class="text-decoration-none">{{ x.number_of_beds }}</p>
        
        <!-- Botão de apagar estilizado -->
        <a href="delete/{{x.code}}" class="btn btn-danger btn-sm ms-2" 
           onclick="return confirm('Tem certeza que deseja apagar esta ala?');">
          Apagar
        </a>
        
      </li>
    {% endfor %}
  </ul>

<!-- Paginação -->
<div>
  {% if wings.has_previous %}
    <a href="?page={{ wings.previous_page_number }}">Anterior</a>
  {% endif %}

  Página {{ wings.number }} de {{ wings.paginator.num_pages }}

  {% if wings.has_next %}
    <a href="?page={{ wings.next_page_number }}">Próxima</a>
  {% endif %}
</div>


  {% endblock %}
  
</body>
</html>